@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
:root {
    --maincolor: #ae9768;
    --transition: 0.3s;
}
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body {
    font-family: "Alegreya Sans", sans-serif;
    background-color: #eee;
}
.container {
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}
html { scroll-behavior: smooth; }
a { text-decoration: none; }
/* Small */
@media (min-width: 768px) {
    .container { width: 750px; }
}
/* Medium */
@media (min-width: 992px) {
    .container { width: 970px; }
}
/* Large */
@media (min-width: 1200px) {
    .container { width: 1170px; }
}
/* ==== Start Header ==== */
header .container {
    padding: 50px 0;
    border-bottom: 2px dotted #222;
}
header h2 {
    font-size: 60px;
    color: #222;
    font-family: "Pacifico", cursive;;
    z-index: 1;
    width: fit-content;
}
header h2::before {
    content: '';
    position: absolute;
    z-index: -1;
    background-color: var(--maincolor);
    width: 100%;
    height: 30%;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    transition: var(--transition);
}
header h2:hover::before { height: 60%; }
/* ==== End Header ==== */
/* ==== Start Section ==== */
section .container {
    padding: 20px 0;
    border-bottom: 2px dotted #222;
}
section h2 {
    background-image: linear-gradient(to right, #3ca55c, #b5ac49);
    background-clip: text;
    color: transparent;
    text-align: center;
    font-weight: bold;
    font-size: 28px;
}
section form .site-name input:focus,section form .site-url input:focus {
    box-shadow: 0 0 10px #198754;
}
/* ==== End Section ==== */
/* ==== Start Table ==== */
.table { padding: 30px 0; }
/* ==== End Table ==== */
@media (max-width: 576px) {
    header , section  { margin: 0 10px; }
    header h2 { font-size: 50px; }
    section h2 { font-size: 20px; }
}
.valid {
    background-color: #fff;
    box-shadow: 0 0 200px 800px #00000060;
    max-width: 480px;
    width: 97%;
    height: fit-content;
    border-radius: 10px;
    padding: 25px 20px;
    position: fixed;
    z-index: 120;
    left: 50%;
    top: 50%;
}
.main .color .red, .main .color .orange, .main .color .green {
    width: 18px;
    height: 18px;
    border-radius: 50%;
}
.main .color .red { background-color: red; }
.main .color .orange { background-color: orange; }
.main .color .green { background-color: green; }
.main .close i {
    font-size: 20px;
    cursor: pointer;
}
.body p{ font-size: 20px; }
.body p:nth-child(1) { font-weight: bold; }
.body p i { margin-right: 10px; color: red; }